<template>
	<div>
		<h1 class="centralizado">{{titulo}}</h1>
		<input type="search" class="filtro" placeholder="filtre por parte do titulo" @input="filtro = $event.target.value">
		<ul class="lista-fotos">
			<li class="lista-fotos-item" v-for="foto of fotosComFiltro" v-bind:key="foto">
				<painel :titulo="foto.titulo">
					<imagem-responsiva :titulo="foto.titulo" :url="foto.url" />
				</painel>
			</li>
		</ul>
	</div>
</template>

<script>
import Painel from '../shared/painel/Painel.vue';
import ImagemResponsiva from '../shared/imagem-responsiva/ImagemResponsiva.vue';

export default {
	components: {
		'painel': Painel,
		'imagem-responsiva': ImagemResponsiva
	},
	computed: {
		fotosComFiltro() {
			if (this.filtro) {
				let exp = new RegExp(this.filtro.trim(), 'i');
				return this.fotos.filter(foto => exp.test(foto.titulo));
			} else {
				return this.fotos;
			}
		}
	},
	data() {
		return {
			titulo: 'Alurapic',
			fotos: [],
			filtro: ''
		}
	},
	created() {
		this.$http
				.get('http://localhost:3000/v1/fotos')
				.then(res => res.json())
				.then(fotos => this.fotos = fotos, err => console.log(err));
	}
}
</script>

<style scoped>
	.centralizado {
		text-align: center;
	}
	.lista-fotos {
		list-style: none;
	}
	.lista-fotos .lista-fotos-item {
		display: inline;
	}
	.filtro {
		display: block;
		width: 100%; 
	}
</style>
